In [2]:
import pandas as pd
import numpy as np
import logging

In [3]:
data = pd.read_csv("../data/raw/structured/resume_data.csv")
print(data.head())

  address                                   career_objective  \
0     NaN  Big data analytics working and database wareho...
1     NaN  Fresher looking to join as a data analyst and ...
2     NaN                                                NaN
3     NaN  To obtain a position in a fast-paced business ...
4     NaN  Professional accountant with an outstanding wo...

                                              skills  \
0  ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...
1  ['Data Analysis', 'Data Analytics', 'Business ...
2  ['Software Development', 'Machine Learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['Analytical reasoning', 'Compliance testing k...

                        educational_institution_name  \
0  ['The Amity School of Engineering & Technology...
1  ['Delhi University - Hansraj College', 'Delhi ...
2    ['Birla Institute of Technology (BIT), Ranchi']
3  ['Martinez Adult Education, Business Training ...
4                          ['Kent State University']

                                        degree_names     passing_years  \
0                                         ['B.Tech']          ['2019']
1    ['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']  ['2015', '2018']
2                                         ['B.Tech']          ['2018']
3  ['Computer Applications Specialist Certificate...          ['2008']
4            ['Bachelor of Business Administration']            [None]

  educational_results    result_types             major_field_of_studies  \
0             ['N/A']          [None]                    ['Electronics']
1      ['N/A', 'N/A']  ['N/A', 'N/A']      ['Mathematics', 'Statistics']
2             ['N/A']         ['N/A']  ['Electronics/Telecommunication']
3              [None]          [None]          ['Computer Applications']
4            ['3.84']          [None]                     ['Accounting']

                          professional_company_names  ... online_links  \
0                                      ['Coca-COla']  ...          NaN
1                                ['BIB Consultancy']  ...          NaN
2                              ['Axis Bank Limited']  ...          NaN
3  ['Company Name ï¼ City , State', 'Company Name...  ...          NaN
4  ['Company Name', 'Company Name', 'Company Name...  ...       [None]

  issue_dates           expiry_dates  \
0         NaN                    NaN
1         NaN                    NaN
2         NaN                    NaN
3         NaN                    NaN
4      [None]  ['February 15, 2021']

                                  ﻿job_position_name  \
0                           Senior Software Engineer
1                     Machine Learning (ML) Engineer
2  Executive/ Senior Executive- Trade Marketing, ...
3                     Business Development Executive
4                                Senior iOS Engineer

                            educationaL_requirements experiencere_requirement  \
0  B.Sc in Computer Science & Engineering from a ...          At least 1 year
1  M.Sc in Computer Science & Engineering or in a...       At least 5 year(s)
2            Master of Business Administration (MBA)         At least 3 years
3                                    Bachelor/Honors             1 to 3 years
4      Bachelor of Science (BSc) in Computer Science         At least 4 years

      age_requirement                                 responsibilities.1  \
0                 NaN  Technical Support\nTroubleshooting\nCollaborat...
1                 NaN  Machine Learning Leadership\nCross-Functional ...
2                 NaN  Trade Marketing Executive\nBrand Visibility, S...
3  Age 22 to 30 years  Apparel Sourcing\nQuality Garment Sourcing\nRe...
4                 NaN  iOS Lifecycle\nRequirement Analysis\nNative Fr...

                                     skills_required matched_score
0                                                NaN      0.850000
1                                                NaN      0.750000
2  Brand Promotion\nCampaign Management\nField Su...      0.416667
3  Fast typing skill\nIELTSInternet browsing & on...      0.760000
4  iOS\niOS App Developer\niOS Application Develo...      0.650000

[5 rows x 35 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    object
 1   career_objective                     4740 non-null   object
 2   skills                               9488 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  responsibilities                     9544 non-null   object
 17  extra_curricular_activity_types      3426 non-null   object
 18  extra_curricular_organization_names  3426 non-null   object
 19  extra_curricular_organization_links  3426 non-null   object
 20  role_positions                       3426 non-null   object
 21  languages                            700 non-null    object
 22  proficiency_levels                   700 non-null    object
 23  certification_providers              2008 non-null   object
 24  certification_skills                 2008 non-null   object
 25  online_links                         2008 non-null   object
 26  issue_dates                          2008 non-null   object
 27  expiry_dates                         2008 non-null   object
 28  ﻿job_position_name                   9544 non-null   object
 29  educationaL_requirements             9544 non-null   object
 30  experiencere_requirement             8180 non-null   object
 31  age_requirement                      5457 non-null   object
 32  responsibilities.1                   9544 non-null   object
 33  skills_required                      7843 non-null   object
 34  matched_score                        9544 non-null   float64
dtypes: float64(1), object(34)
memory usage: 2.5+ MB